In [18]:
import pandas as pd
import numpy as np
import datetime as dt

In [19]:
rng=pd.date_range('2016/07/01',periods=10,freq='D')
rng

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
               '2016-07-09', '2016-07-10'],
              dtype='datetime64[ns]', freq='D')

In [20]:
time=pd.Series(np.random.randn(20),
              index=pd.date_range(dt.datetime(2016,1,1),periods=20))
print(time)

2016-01-01    0.960912
2016-01-02   -0.014915
2016-01-03   -1.806486
2016-01-04    0.717246
2016-01-05   -0.286624
2016-01-06    0.386057
2016-01-07    0.568010
2016-01-08   -0.162937
2016-01-09   -1.381076
2016-01-10   -0.846152
2016-01-11   -1.561148
2016-01-12    0.938932
2016-01-13   -0.144987
2016-01-14    0.187308
2016-01-15   -0.516385
2016-01-16   -2.283882
2016-01-17    1.749047
2016-01-18   -0.070735
2016-01-19    1.721585
2016-01-20    0.639671
Freq: D, dtype: float64

In [21]:
print(time['2016-01-15'])

-0.516384763855

In [22]:
print(time['2016-01-15':'2016-01-20'])

2016-01-15   -0.516385
2016-01-16   -2.283882
2016-01-17    1.749047
2016-01-18   -0.070735
2016-01-19    1.721585
2016-01-20    0.639671
Freq: D, dtype: float64

In [24]:
data=pd.date_range('2010-01-01','2011-01-01',freq='M')
print(data)

DatetimeIndex(['2010-01-31', '2010-02-28', '2010-03-31', '2010-04-30',
               '2010-05-31', '2010-06-30', '2010-07-31', '2010-08-31',
               '2010-09-30', '2010-10-31', '2010-11-30', '2010-12-31'],
              dtype='datetime64[ns]', freq='M')

In [25]:
time.truncate(before='2016-1-10')

2016-01-10   -0.846152
2016-01-11   -1.561148
2016-01-12    0.938932
2016-01-13   -0.144987
2016-01-14    0.187308
2016-01-15   -0.516385
2016-01-16   -2.283882
2016-01-17    1.749047
2016-01-18   -0.070735
2016-01-19    1.721585
2016-01-20    0.639671
Freq: D, dtype: float64

In [26]:
time.truncate(after='2016-1-10')

2016-01-01    0.960912
2016-01-02   -0.014915
2016-01-03   -1.806486
2016-01-04    0.717246
2016-01-05   -0.286624
2016-01-06    0.386057
2016-01-07    0.568010
2016-01-08   -0.162937
2016-01-09   -1.381076
2016-01-10   -0.846152
Freq: D, dtype: float64

In [28]:
pd.Timestamp('2016-07-10')

Timestamp('2016-07-10 00:00:00')

In [29]:
pd.Timestamp('2016-07-10 10')

Timestamp('2016-07-10 10:00:00')

In [30]:
pd.Timestamp('2016-07-10 10:15')

Timestamp('2016-07-10 10:15:00')

In [31]:
t=pd.Timestamp('2016-07-10 10:15')

In [32]:
pd.Period('2016-01')

Period('2016-01', 'M')

In [33]:
pd.Period('2016-01-01')

Period('2016-01-01', 'D')

In [38]:
pd.Timedelta('1 day')

Timedelta('1 days 00:00:00')

In [40]:
pd.Period('2016-01-01 10:10')+pd.Timedelta('1 day')

Period('2016-01-02 10:10', 'T')

In [41]:
pd.Timestamp('2016-01-01 10:10')+pd.Timedelta('1 day')

Timestamp('2016-01-02 10:10:00')

In [42]:
pd.Timestamp('2016-01-01 10:10')+pd.Timedelta('1 ns')

Timestamp('2016-01-01 10:10:00.000000001')

In [49]:
p1=pd.period_range('2016-01-01 10:10',freq='25H',periods=10)

In [50]:
p2=pd.period_range('2016-01-01 10:10',freq='1D1H',periods=10)

In [51]:
p1

PeriodIndex(['2016-01-01 10:00', '2016-01-02 11:00', '2016-01-03 12:00',
             '2016-01-04 13:00', '2016-01-05 14:00', '2016-01-06 15:00',
             '2016-01-07 16:00', '2016-01-08 17:00', '2016-01-09 18:00',
             '2016-01-10 19:00'],
            dtype='period[25H]', freq='25H')

In [52]:
p2

PeriodIndex(['2016-01-01 10:00', '2016-01-02 11:00', '2016-01-03 12:00',
             '2016-01-04 13:00', '2016-01-05 14:00', '2016-01-06 15:00',
             '2016-01-07 16:00', '2016-01-08 17:00', '2016-01-09 18:00',
             '2016-01-10 19:00'],
            dtype='period[25H]', freq='25H')

In [54]:
rng=pd.date_range('2016 Jul 1',periods=10,freq='D')
rng
pd.Series(range(len(rng)),index=rng)

2016-07-01    0
2016-07-02    1
2016-07-03    2
2016-07-04    3
2016-07-05    4
2016-07-06    5
2016-07-07    6
2016-07-08    7
2016-07-09    8
2016-07-10    9
Freq: D, dtype: int32

In [56]:
periods=[pd.Period('2016-01'),pd.Period('2016-02'),pd.Period('2016-03')]
ts=pd.Series(np.random.randn(len(periods)),index=periods)
ts

2016-01   -0.101062
2016-02   -1.209930
2016-03   -0.752920
Freq: M, dtype: float64

In [57]:
type(ts.index)

pandas.core.indexes.period.PeriodIndex

In [59]:
ts=pd.Series(range(10),pd.date_range('07-10-16 8:00',periods=10,freq='H'))
ts

2016-07-10 08:00:00    0
2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
2016-07-10 12:00:00    4
2016-07-10 13:00:00    5
2016-07-10 14:00:00    6
2016-07-10 15:00:00    7
2016-07-10 16:00:00    8
2016-07-10 17:00:00    9
Freq: H, dtype: int32

In [61]:
ts_period =ts.to_period()
ts_period

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
2016-07-10 12:00    4
2016-07-10 13:00    5
2016-07-10 14:00    6
2016-07-10 15:00    7
2016-07-10 16:00    8
2016-07-10 17:00    9
Freq: H, dtype: int32

In [62]:
ts_period['2016-07-10 08:30' :'2016-07-10 11:45']

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
Freq: H, dtype: int32

In [63]:
ts['2016-07-10 08:30' :'2016-07-10 11:45']

2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
Freq: H, dtype: int32