In [4]:
import pandas
import numpy
titanic = pandas.read_csv(r'C:\Users\Ordinary\Desktop\Kaggle_Titanic-master\train.csv')
#titanic.head()
print (titanic.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [5]:
titanic["Age"]=titanic["Age"].fillna(titanic["Age"].median())
print (titanic.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.361582    0.523008
std     257.353842    0.486592    0.836071   13.019697    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   22.000000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   35.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [6]:
print(titanic["Sex"].unique())   
titanic.loc[titanic["Sex"]=="male","Sex"]=0
titanic.loc[titanic["Sex"]=="female","Sex"]=1

['male' 'female']

In [7]:
print(titanic["Embarked"].unique())   
titanic.loc[titanic["Embarked"]=="S","Embarked"]=0
titanic.loc[titanic["Embarked"]=="C","Embarked"]=1
titanic.loc[titanic["Embarked"]=="Q","Embarked"]=2

['S' 'C' 'Q' nan]

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import KFold
predictors=["Pclass","Sex","Age","SibSp","Parch","Fare","Embarked"]
#print(predictors)
alg=LinearRegression()
kf=KFold(titanic.shape[0],n_folds=3,random_state=1)
predictions=[]
for train,test in kf:
    train_predictors=(titanic[predictors].iloc[train,:])
    train_target=titanic["Survived"].iloc[train]     
    alg.fit(train_predictors,train_target)
    test_predictors=alg.predict(titanic[predictors].iloc[test,:])
    predictions.append(test_predectors)

D:\Anaconda\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
from sklearn import cross_validation
from sklearn.linear_model import LogisticRegression
alg=LogisticRegression(random_state=1)
#print(titanic[predictors])
numpy.isnan(titanic[predictors]).any
#scores=cross_validation.cross_val_score(alg, titanic[predictors],titanic["Survived"],cv=3)
print(scores.mean())

In [9]:
#titanic_survival=pandas.read_csv("r'C:\Users\Ordinary\Desktop\Kaggle_Titanic-master\train.csv")
new_titanic_survival=titanic.sort_values("Age",ascending=False)
print(new_titanic_survival[0:10])
titanic_reindexed=new_titanic_survival.reset_index(drop=True)
print('-------------')
print(titanic_reindexed.loc[0:10])

     PassengerId  Survived  Pclass                                  Name Sex  \
630          631         1       1  Barkworth, Mr. Algernon Henry Wilson   0
851          852         0       3                   Svensson, Mr. Johan   0
96            97         0       1             Goldschmidt, Mr. George B   0
493          494         0       1               Artagaveytia, Mr. Ramon   0
116          117         0       3                  Connors, Mr. Patrick   0
672          673         0       2           Mitchell, Mr. Henry Michael   0
745          746         0       1          Crosby, Capt. Edward Gifford   0
33            34         0       2                 Wheadon, Mr. Edward H   0
456          457         0       1             Millet, Mr. Francis Davis   0
54            55         0       1        Ostby, Mr. Engelhart Cornelius   0

      Age  SibSp  Parch      Ticket     Fare Cabin Embarked
630  80.0      0      0       27042  30.0000   A23        0
851  74.0      0      0      347060   7.7750   NaN        0
96   71.0      0      0    PC 17754  34.6542    A5        1
493  71.0      0      0    PC 17609  49.5042   NaN        1
116  70.5      0      0      370369   7.7500   NaN        2
672  70.0      0      0  C.A. 24580  10.5000   NaN        0
745  70.0      1      1   WE/P 5735  71.0000   B22        0
33   66.0      0      0  C.A. 24579  10.5000   NaN        0
456  65.0      0      0       13509  26.5500   E38        0
54   65.0      0      1      113509  61.9792   B30        1
-------------
    PassengerId  Survived  Pclass                                  Name Sex  \
0           631         1       1  Barkworth, Mr. Algernon Henry Wilson   0
1           852         0       3                   Svensson, Mr. Johan   0
2            97         0       1             Goldschmidt, Mr. George B   0
3           494         0       1               Artagaveytia, Mr. Ramon   0
4           117         0       3                  Connors, Mr. Patrick   0
5           673         0       2           Mitchell, Mr. Henry Michael   0
6           746         0       1          Crosby, Capt. Edward Gifford   0
7            34         0       2                 Wheadon, Mr. Edward H   0
8           457         0       1             Millet, Mr. Francis Davis   0
9            55         0       1        Ostby, Mr. Engelhart Cornelius   0
10          281         0       3                      Duane, Mr. Frank   0

     Age  SibSp  Parch      Ticket     Fare Cabin Embarked
0   80.0      0      0       27042  30.0000   A23        0
1   74.0      0      0      347060   7.7750   NaN        0
2   71.0      0      0    PC 17754  34.6542    A5        1
3   71.0      0      0    PC 17609  49.5042   NaN        1
4   70.5      0      0      370369   7.7500   NaN        2
5   70.0      0      0  C.A. 24580  10.5000   NaN        0
6   70.0      1      1   WE/P 5735  71.0000   B22        0
7   66.0      0      0  C.A. 24579  10.5000   NaN        0
8   65.0      0      0       13509  26.5500   E38        0
9   65.0      0      1      113509  61.9792   B30        1
10  65.0      0      0      336439   7.7500   NaN        2

In [16]:
titanic_survival=titanic
def hundredth_row(column):
    hundredth_item=column.loc[99]
    return hundredth_item

hundredth_row=titanic_survival.apply(hundredth_row)
print(hundredth_row)

PassengerId                  100
Survived                       0
Pclass                         2
Name           Kantor, Mr. Sinai
Sex                            0
Age                           34
SibSp                          1
Parch                          0
Ticket                    244367
Fare                          26
Cabin                        NaN
Embarked                       0
dtype: object

In [20]:
def not_null_count(column):
    column_null=pandas.isnull(column)
    null=column[column_null]
    #print(null)
    return len(null)

column_null_count=titanic_survival.apply(not_null_count)
print(column_null_count)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [22]:
def which_class(row):
    pclass=row['Pclass']
    if pandas.isnull(pclass):
        return "Unknow"
    elif pclass==1:
        return "First Class"
    elif pclass==2:
        return "Second Class"
    elif pclass==3:
        return "Third Class"
    
classes =titanic_survival.apply(which_class,axis=1)
print(classes)

0       Third Class
1       First Class
2       Third Class
3       First Class
4       Third Class
5       Third Class
6       First Class
7       Third Class
8       Third Class
9      Second Class
10      Third Class
11      First Class
12      Third Class
13      Third Class
14      Third Class
15     Second Class
16      Third Class
17     Second Class
18      Third Class
19      Third Class
20     Second Class
21     Second Class
22      Third Class
23      First Class
24      Third Class
25      Third Class
26      Third Class
27      First Class
28      Third Class
29      Third Class
           ...
861    Second Class
862     First Class
863     Third Class
864    Second Class
865    Second Class
866    Second Class
867     First Class
868     Third Class
869     Third Class
870     Third Class
871     First Class
872     First Class
873     Third Class
874    Second Class
875     Third Class
876     Third Class
877     Third Class
878     Third Class
879     First Class
880    Second Class
881     Third Class
882     Third Class
883    Second Class
884     Third Class
885     Third Class
886    Second Class
887     First Class
888     Third Class
889     First Class
890     Third Class
Length: 891, dtype: object

In [29]:
def is_minor(row):
    if row["Age"]<18:
        return True
    else :
        return False

#minors=titanic_survival.apply(is_minor.axis=1)
#print (minors)

def generate_age_label(row):
    age=row["Age"]
    if pandas.isnull(age):
        return "unknow"
    elif age<18:
        return "minor"
    else :
        return "adult"

age_labels=titanic_survival.apply(generate_age_label,axis=1)
print(age_labels)

0      adult
1      adult
2      adult
3      adult
4      adult
5      adult
6      adult
7      minor
8      adult
9      minor
10     minor
11     adult
12     adult
13     adult
14     minor
15     adult
16     minor
17     adult
18     adult
19     adult
20     adult
21     adult
22     minor
23     adult
24     minor
25     adult
26     adult
27     adult
28     adult
29     adult
       ...
861    adult
862    adult
863    adult
864    adult
865    adult
866    adult
867    adult
868    adult
869    minor
870    adult
871    adult
872    adult
873    adult
874    adult
875    minor
876    adult
877    adult
878    adult
879    adult
880    adult
881    adult
882    adult
883    adult
884    adult
885    adult
886    adult
887    adult
888    adult
889    adult
890    adult
Length: 891, dtype: object

In [30]:
titanic_survival['age_labels']=age_labels
age_group_survival=titanic_survival.pivot_table(index="age_labels",values="Survived")
print(age_group_survival)

            Survived
age_labels
adult       0.361183
minor       0.539823